*{
   -webkit-box-sizing: border-box;
   -moz-boz-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Courier New', Courier, monospace;
   width:90%;
   margin: auto;
}

.get-score{
  display:inline-block;
  margin-top:5px;
  color:blue;
}

.get-score:hover{
   cursor: pointer;
   text-decoration: underline;
}

.timer{
   text-align: right;
   position: absolute;
   right:10%;
   top:2%;
   font-size: 30px;
   color: black;
}

.page-content{
   margin-top:150px;
}

h3 {
   font-size:30px;
   text-align:center;
   margin:10px auto;
}

.instruction{
   font-size:23px;
   text-align:center;
   width:50%;
   margin:10px auto;
}

.btn{
   display:block;
   text-align:center;
   font-size:1rem;
   margin: 10px auto;
   padding: 10px 15px;
   background-color: purple;
   color: white;
   border-radius:7px;
   position:relative;
}
.btn:hover{
   border-color:rgba(0,0,0,.5);
   top: -2px;
   cursor: pointer;
}

.btn:active{
   top: 1px;
}

.option-wrapper{
   margin:0 auto;
   text-align: center;
}

.options{
   text-align:center;
   font-size:1rem;
   margin: 10px auto;
   padding: 10px 15px;
   color: white;
   border-radius:7px;
   position:relative;

}

.options:hover{
   top:-2px;
   cursor:pointer; 
}
.options:active{
   top:-1px;
}

.evaluation{
   font-size:25px;
   color:rgb(128, 128, 128);
   text-align:center;
   font-style:italic;
}

.score-display-wrapper{
   display:flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.score-display{
   font-size:36px;
   color: black;
   text-align: center;
}

label[for='initial']{
   margin: auto;
   font-size:28px;
}

.score-panel{
   display: flex;
   flex-flow: column wrap;
   margin:0;
   list-style: none;
   text-align:center;
   margin-top:10%;
   font-size:20px;
   color:white;
   background-color: rgb(58, 58, 103);
}

.score-panel li:nth-child(2n){
   background-color:gray;
}

.score-panel li:nth-child(2n+1){
   background-color:black;
}

.score-panel li{
   /* border:1px solid black; */
   margin: 1% 0;
   width:100%;
   align-self: center;
   padding: 17px 0;
} 

.panel-initial, .panel-score{
   margin:0 5%;
}
